*.swp
*.log
*.log.*
*.log-*
*.db
*.db-shm
*.db-wal
data/*.db
data/*.db-*
recorded/*
thumbnail/*.jpg
data/streamfiles/*
.DS_Store
config/*
!config/*.template
!config/*.sample.yml
!config/enc_helper.js
data/*.json
data/upload/*
drop/*.log
node_modules
dist
.cache
data/upload/*
data/key/*
*.sql
!.gitkeep
test-results
playwright-report
blob-report
scratch/
*.m2ts
*.ts.dummy

